<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EchoCode</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='icon.png') }}"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="sidebar">
      <div class="logo">
        <a href="">
          <img
            src="{{ url_for('static', filename='echoccode icon.png') }}"
            alt="Logo"
          />
        </a>
      </div>

      <div class="navigation">
        <ul>
          <li>
            <a href="">
              <span class="fa fa-home"></span>
              <span>Home</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="policies">
        <ul>
          <li>
            <a href="">Cookies</a>
          </li>
          <li>
            <a href="">Privacy</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-container">
      <div class="spotify-playlists">
        <h2>Languages</h2>

        <div class="list">
          <div class="item" onclick="openPythonEditor()">
            <img src="{{ url_for('static', filename='python.jpeg') }}" />
            <div class="play">
              <span class="fa fa-play"></span>
            </div>
            <h4>Python</h4>
            <p>Practice basic codes!!</p>
          </div>

          <div class="item" onclick="openJavaEditor()">
            <img src="{{ url_for('static', filename='java.jpeg') }}" />
            <div class="play">
              <span class="fa fa-play"></span>
            </div>
            <h4>Java</h4>
            <p>Practice basic codes!!</p>
          </div>

          <div class="item" onclick="openhtmlcssEditor()">
            <img src="{{ url_for('static', filename='html and css.jpeg') }}" />
            <div class="play">
              <span class="fa fa-play"></span>
            </div>
            <h4>HTML & CSS</h4>
            <p>Practice basic codes!!</p>
          </div>

          <div class="item" onclick="openjavascriptEditor()">
            <img src="{{ url_for('static', filename='js.jpeg') }}" />
            <div class="play">
              <span class="fa fa-play"></span>
            </div>
            <h4>Javascript</h4>
            <p>Practice basic codes!!</p>
          </div>

          <div class="item" onclick="openCEditor()">
            <img src="{{ url_for('static', filename='c.jpeg') }}" />
            <div class="play">
              <span class="fa fa-play"></span>
            </div>
            <h4>C</h4>
            <p>Practice basic codes!!</p>
          </div>
        </div>
        <div class="spotify-playlists">
          <div class="list">
            <div class="item" onclick="opencppEditor()">
              <img src="{{ url_for('static', filename='c++.jpeg') }}" />
              <div class="play">
                <span class="fa fa-play"></span>
              </div>
              <h4>C++</h4>
              <p>Practice basic codes!!</p>
            </div>

            <div class="item" onclick="openrubyEditor()">
              <img src="{{ url_for('static', filename='ruby.jpg') }}" />
              <div class="play">
                <span class="fa fa-play"></span>
              </div>
              <h4>Ruby</h4>
              <p>Practice basic codes!!</p>
            </div>

            <div class="item" onclick="openrEditor()">
              <img src="{{ url_for('static', filename='r.jpg') }}" />
              <div class="play">
                <span class="fa fa-play"></span>
              </div>
              <h4>R</h4>
              <p>Practice basic codes!!</p>
            </div>

            <div class="item" onclick="openphpEditor()">
              <img src="{{ url_for('static', filename='php.jpeg') }}" />
              <div class="play">
                <span class="fa fa-play"></span>
              </div>
              <h4>PHP</h4>
              <p>Practice basic codes!!</p>
            </div>
          </div>
          <!-- Add more language items here -->
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
